<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt_BR">
<head>
	<title>{% block title %}{Conference System}{% endblock %} - {% block subtitle %}{% endblock %}</title>
	<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>

<!-- start header -->
<div id="wrapper">
<div id="header">
	<div id="logo">
		<h1>{% block page_title %}Conference{% endblock %}</h1>
		<p>{% block page_subtitle %}System to manage conferences {% endblock %}</p>
	</div>
</div>
<!-- end header -->

<!-- start menu -->
<div id="menu">
	<ul>
		{% block menu %}
			<li><a href="/">Home</a></li>
			{% ifequal user_type "A" %} <!-- Anonimous user -->
				<li><a href="/user_create/">Register</a></li>
				<form action='/auth/' method='post'>
					<table class="login">
						<tr>
							<td align="right"><label for="username">User:</label></td>
							<td><input type="text" name="username" value="" id="username"></td>
							<td align="right"><label for="password">Password:</label></td>
							<td><input type="password" name="password" value="" id="password"></td>
							<td align="right"><input type="submit" value="login" /></td>
						</tr>
					</table>
					<input type="hidden" name="next" value="{{ next|escape }}" />
				</form>
			{% endifequal %}
			{% ifequal user_type "U" %} <!-- at least a SiteUser user -->
				<li><a href="/text_submit/">Submit Text</a></li>
				<div align="right">
					<li><a href="/logout/">Logout</a></li>
				</div>
			{% endifequal %}
			{% ifequal user_type "R" %}
				<li><a href="/for_review/">Review Texts</a></li>
				<div align="right">
					<li><a href="/logout/">Logout</a></li>
				</div>
			{% endifequal %}
		{% endblock %}
	</ul>
</div>
<!-- end menu -->

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	<!-- end content -->
</div>
<!-- end page -->

<!-- start footer -->
<div id="footer">
	{% block footer %}
	{% endblock %}
	<p class="legal">
		2009 <a href="#">Conference</a>
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>
</div>
<!-- end footer -->
</body>
</html>

