{% extends 'conference/base.html' %}
{% block content %}
	{% block error %}
		{% if error %}
		<p class="post">user and/or password incorrect.</p>
		{% endif %}

		{% if not logged %}
		<p class="post">you are not logged in</p>
		{% endif %}
	{% endblock %}
	{% block more_content %}
	{% endblock %}
	{% block schedule %}
		<div class="post">
			<div class="title">
				<h3>Schedule for the conference:</h3>
			</div>
			<table width=600>
				<tr>
					<th></td>
					<th>
						1st day
					</th>
					<th>
						2nd day
					</th>
					<th>
						3rd day
					</th>
				</tr>
				<tr>
					<th>10h</th>
					<td>
						Padovan: The force
					</td>
					<td>
						Capistrano: Dancing salsa
					</td>
					<td>
						-
					</td>
				</tr>
			</table>
		</div>
	{% endblock %}
{% endblock %}
